.findAptSection {
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formLabel {
  color: grey;
}

.button {
  width: 200px;
}

.forgetCodeBtn {
  border: none;
  font-size: 0.7em;
}
